<h2 class="heading">Dashboard</h2>

<button class="logout-btn" (click)="logout()">Logout</button>
<div class="section">
  <button class="save-btn" (click)="saveFundHouses()">Get Fund Houses</button>
  <button class="save-btn" (click)="saveSchemes()">Get Schemes</button>
</div>


<div class="section">
  <label>Choose Fund House:</label>
  <select (change)="onFundHouseChange($event)">
    <option value="">-- Select Fund House --</option>
    <option *ngFor="let house of fundHouses" [value]="house.id">{{ house.name }}</option>
  </select>
</div>

<div *ngIf="schemes.length > 0" class="section">
  <label>Select Scheme:</label>
  <select [(ngModel)]="selectedSchemeId">
    <option value="">-- Select Scheme --</option>
    <option *ngFor="let scheme of schemes" [value]="scheme.id">{{ scheme.scheme_name }}</option>
  </select><br>

  <label>Amount to Invest:</label>
  <input [(ngModel)]="amount" type="number" placeholder="Amount to Invest" /><br>
  
  <button class="add-btn" (click)="addToPortfolio()">Add to Portfolio</button>
</div>


<div *ngIf="selectedFundHouseId && schemes.length === 0" class="section">
  <p class="no-schemes">No open-ended schemes available for this fund house.</p>
</div>

<hr />

<h3 class="sub-heading">Your Portfolio</h3>

<table class="portfolio-table" *ngIf="portfolio.length > 0">
  <thead>
    <tr>
      <th>Scheme Name</th>
      <th>Amount Invested</th>
      <th>NAV at Purchase</th>
      <th>Units</th>
      <th>Latest NAV</th>
      <th>Current Value</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of portfolio">
      <td>{{ p.scheme.scheme_name }}</td>
      <td>₹{{ p.amount_invested | number:'1.2-2' }}</td>
      <td>₹{{ p.nav_at_purchase | number:'1.2-2' }}</td>
      <td>{{ p.units }}</td>
      <td>₹{{ p.latest_nav | number:'1.2-2' }}</td>
      <td>₹{{ p.current_value | number:'1.2-2' }}</td>
    </tr>
  </tbody>
</table>

<p *ngIf="portfolio.length === 0" class="no-schemes">No portfolio data available.</p>

